<!doctype html>
<html> 
    <head>
      <meta charset="utf-8">
      <title>sph-fluid.js</title>
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/static/SPH-Fluid-WebGL/css">
    </head>
    <body>

      <div class="outerContainer" >
          <div class="centerDiv">
              <h1 class="header">Fluid Simulation using Smoothed Particle Hydrodynamics with Navier-Stokes Equations</h1><br/>
                  <span id="some-info">Hold mouse button to flip gravity</span></p>
          </div>
      </div>

      <div style="bottom:50px; font-size:0.8em;position:absolute; text-align:center; width:100%;"><span style="">© Michael Novén 2016</span></div>
      
      <script src="/static/SPH-Fluid-WebGL/js/dependencies/THREEx.WindowResize.js"></script>
      <script src="/static/threejs/three.js"></script>
      <script src="/static/threejs/dat.gui.min.js"></script>
      <script src="/static/threejs/TrackballControls.js"></script>
      <script src="/static/SPH-Fluid-WebGL/js/sph_fluid.js"></script>
      <script src="/static/SPH-Fluid-WebGL/js/water_engine.js"></script>
      <script src="/static/SPH-Fluid-WebGL/js/main.js"></script>
    </body>
</html>
